{% extends 'base.html' %}

{% block title %}세모작가포스트 등록{% endblock title %}

{% block content %}

<form method='post' enctype='multipart/form-data'>
    {% csrf_token %}

    {% for field in form.visible_fields %}
    <label for='{{field.id_for_label}}'>{{field.label}}</label>{{field}}<br>
    {% if field.errors %}
        {% for error in field.errors %}
            {{error}}<br>
        {% endfor %}{% endif %}
    {% endfor %}
    
    <button type='submit' class='btn btn-primary'>등록</button>
</form>

{% endblock content %}