{% extends 'base.html' %}

{% block title %}
<title>세모작가 게시판</title>
{% endblock title %}

{% block content %}

{% for writerblog in object_list %}
    <a href="{% url 'writerblogs:detail' writerblog.pk%}">
    <img src="{{ writerblog.postPic.url }}"> <h3>{{writerblog.postTitle}}</h3>
    <br>{{writerblog.postExp|truncatechars:30}} / {{writerblog.postDate}}
    </a><br>
{% endfor %}
<input type="button" value="등록하기" onclick="location.href='create'">

<div>
        {% if is_paginated %}
        <p>
        {% if has_previous_page %}
            <a href='/writerblog/?page={{previous_page}}'>이전</a>
        {% endif %}

        {% for page in current_page_group_range %}
            {% if page == page_obj.number %}
                {{page}}
            {% else %}
                <a href='/writerblog/?page={{page}}'>
                    {{page}} &nbsp;&nbsp;&nbsp;
                </a>
            {% endif %}
        {% endfor %}

        {% if has_next_page %}
            <a href='/writerblog/?page={{next_page}}'>다음</a>
        {% endif %}

        </p>
        {% endif %}

    </div>

{% endblock content %}