<header>
    <a href="/"><h1>세모 책방</h1></a>
    <b> 세상의 모든 독립출판을 위한</b><!--제목-->

    <br>
    <br>
    <div><!--사이드 그리드-->
        <input type="button" value="로그인" onClick="location.href='{% url "users:login" %}'">
        <input type="button" value="회원가입" onClick="location.href='{% url "users:join" %}'">
    </div>
    <br>
    <br>
    <div><!--header 그리드-->
        <input type="button" value="세모 책장" onClick="location.href=''">
        <input type="button" value="이달의.." onClick="location.href=''">
        <input type="button" value="동네 책방" onClick="location.href=''">
        <input type="button" value="세모 작가" onClick="location.href=''">
    </div>
</header>