{% extends 'base.html' %}

{% block title %}독립서점{% endblock title %}

{% block content %}

<h2>{{bookstore_detail.bookstoreName}}</h2>

<div>
    {% if bookstore_detail.bookstorePic %}
        <a href='{{bookstore_detail.bookstorePic.url}}'></a><br>
    {% endif %}
</div>
    {% if bookstore_detail.bookstorePic %}
        <img src="{{bookstore_detail.bookstorePic.url}}" width='500'>
    {% endif %}

<div>
    주소 : {{bookstore_detail.bookstoreAddress}}<br>
    연락처 : {{bookstore_detail.bookstoreTel}}<br>
    정보 : {{bookstore_detail.bookstoreExp|linebreaksbr}}
</div>

    {% if user.is_authenticated %}
    <p>
        <a href="{% url 'bookstores:update' bookstore_detail.pk%}" class='btn btn-primary'>수정</a>
        <a href="{% url 'bookstores:delete' bookstore_detail.pk%}" class='btn btn-primary'
        onclick="return confirm('정말 삭제하시겠습니까?')">
        삭제
        </a>
    </p>
    {% endif %}

{% endblock content %}