{% extends 'base.html' %}

{% block title %}동네책방{% endblock title %}

{% block content %}

    <h2>동네 책방</h2>

    {% comment %} 검색기능 {% endcomment %}
    <div>
        <form action="/bookstores/search/" method='GET'>
            {% csrf_token %}
            <input type='search' name='q' value='{{ q }}'>
            <input type='submit' value='검색'>
        </form>
    </div>

    {% comment %} 책방 사진 / 이미지 크기 조정 {% endcomment %}
    <div>
        <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTA2MTZfODEg%2FMDAxNTYwNjkzMzAyMjQ5.LNZod6LIfNBkWv4Q0AQlUJLPoj4RQf2JxpsEP4hP2aUg.mc3Gyi8KLzgxe4gHftptBpsSMvZV2N9rf-Qe6wwf8uwg.JPEG.2519yk%2F20190616_135909.jpg&type=b400" style="width:300px; height:300px;">
    </div>

    {% comment %} 제보하기 {% endcomment %}
    <div>
    <input type="button" value="제보하기" onclick="location.href='create'">


    <table class='table'>
        <thead>
            <tr>
                <th>사진</th>
                <th>정보</th>
            </tr>
        </thead>
        <tbody>
            {% for bookstore in bookstore_list %}
            
                <tr>
                    <th rowspan=2>
                        <a href="{% url 'bookstores:detail' bookstore.pk %}">
                        <img src = "{{bookstore.bookstorePic.url}}" width ='150'> 
                        </a>
                    </th>
                    <td>
                        <a href="{% url 'bookstores:detail' bookstore.pk %}">
                        {{bookstore.bookstoreName}}
                        </a>
                    </td>
                <tr>
                    <td>
                        <a href="{% url 'bookstores:detail' bookstore.pk %}">
                        {{bookstore.bookstoreAddress}}
                        </a>
                    </td>
                </tr>
            
            {% endfor %}
        </tbody>

    </table>
    </div>

    {% comment %} 페이징 처리 {% endcomment %}
    <div>
        {% if is_paginated %}
        <p>
        {% if has_previous_page %}
            <a href='/bookstores/?page={{previous_page}}'>이전</a>
        {% endif %}

        {% for page in current_page_group_range %}
            {% if page == page_obj.number %}
                {{page}}
            {% else %}
                <a href='/bookstores/?page={{page}}'>
                    {{page}} &nbsp;&nbsp;&nbsp;
                </a>
            {% endif %}
        {% endfor %}

        {% if has_next_page %}
            <a href='/bookstores/?page={{next_page}}'>다음</a>
        {% endif %}

        </p>
        {% endif %}

    </div>

{% endblock content %}

