    {% extends 'base.html' %}

    {% block title %}도서상세정보
    {% endblock title %}
    
    {% block content %}


    <div>
    <h3>도서상세정보</h3>
    </div>

    <div>
    {% if book_detail %}
        <h4>{{book_detail.bookTitle}}</h4>
        <ul>
            <img src="{{ book_detail.bookPic.url }}" width=150 align="left" hspace="10">
            <li>작가 : {{ book_detail.authorID }}</li><br>
            <li>출판사 : {{book_detail.publisherID }}</li> <br>
            <li>출판년도 : {{ book_detail.publisherDate|date:"Y" }} 년</li> <br>
            <li>가격 : {{ book_detail.price }} 원</li> <br>
            <li>분류 : {{ book_detail.bookCategoryID }}</li> <br>
            {{ book_detail.bookExp }}
        </ul>
    {% endif %}
    </div>

    {% endblock content %}
</body>
</html>

