<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서검색결과</title>
    <style>
        ul li {list-style-type: none; float: left; margin-left: 25px;}
        a:link {color: black; text-decoration: none;}
        a:visited {color: purple; text-decoration: none;}
        a:hover {color: black; text-decoration: underline;}
    </style>
</head>
<body>
    {% extends 'base.html' %}
    
    {% block content %}

    <form action="/books/search/" method='GET'>
        {% csrf_token %}
        <input type='search' name='q' value='{{ q }}'>
        <input type='submit' value='검색'>
    </form>
        
    <h3>도서검색결과</h3>

    {% if search %}
        <div><ul>
            {% for book_list in search %}
                <li><a href="/books/search/{{ q }}">
                    {% if book_list.bookPic %}
                        <img src="{{ book_list.bookPic.url }}" width=120> <br>
                    {% endif %}
                    <b>{{ book_list.bookTitle }}</b><br>
                    \ {{ book_list.price }}
                </a></li>
            {% endfor %}
        </ul></div>
    {% else %}
        <p>도서가 존재하지 않습니다.</p>
    {% endif %}

    {% endblock content %}
</body>
</html>